{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">
    <div class="neos-content neos-container-fluid">

        <div class="neos-row-fluid">
            Willkommen im Assistenten-Backend-Modul
        </div>
        <!--
        <div class="neos-footer">
            <f:security.ifAccess privilegeTarget="CodeQ.AdvancedPublish:PublicationBackendModuleController.canCreatePublications">
                <f:link.action action="new" class="neos-button neos-button-primary">Neue Veröffentlichung erstellen</f:link.action>
            </f:security.ifAccess>

            <div class="neos-pull-right">
                <button form="postHelper" formaction="{f:uri.action(action: 'discardPersonalWorkspace')}" type="submit" class="neos-button neos-button-warning">
                    <i class="fas fa-ban icon-white"></i>
                    Eigene aktuelle Änderungen verwerfen
                </button>
            </div>
        </div>
        -->
    </div>
</f:section>
