/**
 * Place the sidekick iframe on the right side of the screen
 */
body {
  --neosidekick-sidebar-width: 0px;
}

.neosidekick_appWrapper {
  --neosidekick-sidebar-width: 40px;
  display: grid;
  height: 100%;
  grid-template-columns: auto var(--neosidekick-sidebar-width);
  grid-template-rows: 100%;
}

.neosidekick_appWrapper--sidebar-open {
  --neosidekick-sidebar-width: 402px;
}

@media screen and (max-width: 1480px) {
  .neosidekick_appWrapper--sidebar-open {
    --neosidekick-sidebar-width: 302px;
  }
}

@media screen and (max-width: 1375px) {
  .neosidekick_appWrapper--sidebar-open {
    grid-template-columns: 0 100%;
  }
  .neosidekick_sideBar__title > div > button:first-child:not(:last-child) {
    /* hide fullscreen option on fullscreen-only screen */
    display: none;
  }
}

.neosidekick_appWrapper--sidebar-fullscreen {
  grid-template-columns: 0 100%;
}

/* compatibility with Neos 7 start */
.neosidekick_appWrapper div[class*="style__primaryToolbar___"] {
  width: calc(100% - var(--neosidekick-sidebar-width));
}
.neosidekick_appWrapper div[class*="style__rightSideBar"] {
  right: var(--neosidekick-sidebar-width);
}
.neosidekick_appWrapper div[class*="style__secondaryInspector"] {
  right: calc(320px + var(--neosidekick-sidebar-width));
}
/* compatibility with Neos 7 Neos 7 end */

/**
 * Resize unapplied changes overlay
 */
div[class*="_unappliedChangesOverlay"] {
  width: calc(100% - 320px - var(--neosidekick-sidebar-width));
}

/**
 * Resize dialog overlay outside the app wrapper
 */
#appContainer:has(.neosidekick_appWrapper) ~ div > [id^="neos-"][id$="Dialog"] {
  width: calc(100vw - var(--neosidekick-sidebar-width));
}

/**
 * Define sidebar-width variable for all following elements of #appContainer
 */
#appContainer:has(.neosidekick_appWrapper) ~ div {
  --neosidekick-sidebar-width: 40px;
}

#appContainer:has(.neosidekick_appWrapper--sidebar-open) ~ div {
  --neosidekick-sidebar-width: 402px;
}

@media screen and (max-width: 1480px) {
  #appContainer:has(.neosidekick_appWrapper--sidebar-open) ~ div {
    --neosidekick-sidebar-width: 302px;
  }
}

/**
 * Style the sidebar
 */
.neosidekick_sideBar {
  display: flex;
  flex-direction: column;
  background: #222;
  z-index: 800;
  border-left: 2px solid #141414;
}

.neosidekick_sideBar__title {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.neosidekick_sideBar__title-headline {
  padding: 0 40px 0 16px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.neosidekick_sideBar__title-headline:not(.neosidekick_sideBar__title-headline--open) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg) translate(-8px,-97px);
  width: 230px;
  transition: all 0.2s;
}

.neosidekick_sideBar__frame {
  background: #141414;
  border: 0;
  flex-grow: 1;
  display: none;
}

.neosidekick_sideBar__frame--open {
  display: block;
}

.neosidekick__frame--hidden {
  display: none;
}

